#data-entry-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#data-entry-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5%;
    min-height: 50vh; 
    margin-top: 5%;
}

#data-entry-form-and-nav-container {
    min-height: 50vh;
}

.jumper-selection-form-section {
    grid-column: 1;
    grid-row: 2;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #d6d1d1;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

.pick-jumper-button-selected {
    text-align: left;
    margin: 2% 5% 2% 5%;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    border: none;
    background-color: rgb(126, 70, 136);
    color: white;
}

.pick-jumper-button {
    text-align: left;
    margin: 2% 5% 2% 5%;
    padding: 2% 2% 2% 2%;
    border-radius: 8px;
    border: none;
    background-color: #f5f5f5;
}

#jumper-data-form-navigation-tabs {
    grid-column: 1;
    grid-row: 1;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

#jumper-data-form-navigation-tabs::-webkit-scrollbar {
    display: none; 
}

#jumper-selection-canvas {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.data-collection-schema {
    max-width: 35%;
    border-radius: 10px
}

#measurement-taking-explanation {
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
}

.instructions-card-left,
.instructions-card-right {
    display: flex;
    margin-bottom: 2%;
}


.measurement-instructions-left,
.measurement-instructions-right {
    text-align: justify;
    align-self: center;
}

.measurement-instructions-left {
    margin-left: 5%;
}

.measurement-instructions-right {
    margin-right: 5%;
}

.selected-nav-tab {
    background-color: rgb(126, 70, 136);;
    padding: 3% 3% 3% 2%;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 0px;
    font-size: medium;
}

.nav-tab {
    background-color: white;
    border: none;
    padding: 1% 2% 1% 2%;
    border-radius: 12px;
    color: rgb(126, 70, 136);
    text-decoration: none;
    margin-bottom: 1%;
    font-size: medium;
}

.fit-and-measurements-input {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #9f9a9a;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 40%;
    align-self: center;
}

.measurement-row {
    display: grid;
    grid-template-columns: 70% 50%;
    justify-items: left;
    margin-left: 10%;
    margin-right: 5%;
}

#pick-different-shape {
    margin-right: 10%;
}


.buttons-section {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

