html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  width: 100%;
}

.App {
  height: 100%;
  margin: 0;
}

.pageBackground {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100%;
  background-color: #e3d9cf;
  color: rgb(73, 67, 62);
}

.pageShaper {
  min-height: 100%;
  grid-column: 2;
  background-color: white;
}

a {
  text-decoration: none;
}

.main-button-style {
  background-color: #42582f;
  padding: 1% 2% 1% 2%;
  color: white;
  text-decoration: none;
  font-size: medium;
  border-radius: 12px;
  border: 0px;
}

.main-button-style:hover {
  background-color: #2e3d21;
}

.secondary-button-style {
  background-color: rgb(126, 70, 136);
  padding: 1% 2% 1% 2%;
  color: white;
  text-decoration: none;
  font-size: medium;
  border-radius: 12px;
  border: 0px;
}

.secondary-button-style:hover {
  background-color: rgb(110, 61, 119);
}

input {
  text-align: center;
}

input:focus {
  outline: none;
  text-align: center;
}
